<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <div class="row">
          <h2>You asked for the following:</h2>
          <br>

          <h4>Bedrooms</h4>
          <p>{{bedrooms}}</p>

          <h4>Bathrooms</h4>
          <p>{{bathrooms}}</p>

          <h4>Price</h4>
          <p>{{price}}</p>

          <h4>Location</h4>
          <p>{{location}}</p>
        </div>
    </div>
